<div class="row">
  <div class="heading-block">
    <h2>Teams</h2>
  </div>

  <table 
    class="table table-striped table-bordered table-hover ui-datatable" 
    data-paging=false
    data-ordering=false
    data-length-change=false
    data-info=false
    data-searching=false
  >
    <thead>
      <tr role="row">
        <th aria-label="Rank">Rank</th>
        <th aria-label="Team">Team</th>
        <th aria-label="Points">Points</th>
      </tr>
    </thead>
    <tbody>
      <% @league.teams.each.with_index do |team, i| %>
        <tr role="row">
          <td><%= i + 1 %></td>
          <td><%= link_to team.title, league_team_path(@league, team) %></td>
          <td>0</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
