<p id="notice"><%= notice %></p>

<p>
  <strong>League:</strong>
  <%= @point_category.league %>
</p>

<%= link_to 'Edit', edit_point_category_path(@point_category) %> |
<%= link_to 'Back', point_categories_path %>
