<div class="row">
  <div class="heading-block">
    <h2> Players </h2>
    <%= link_to "Add Player", new_league_player_path(@league), class: 'pull-right fa fa-plus' %>
  </div>

  <div class="portlet portlet-default">
    <%= render 'scorecard', players: @league.players %>
  </div>
</div>
